* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2em;
    color: #333;
  }
  
  p {
    font-size: 1.2em;
    color: #666;
  }
  
  .team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .team-member {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .team-member:hover {
    transform: scale(1.05);
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
  }
  
  .icon {
    width: 40px;
    height: 40px;
    background-size: cover;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .icon:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }
  
  
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
    padding: 8px 12px;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #9406ccda; 
    transform: translateY(-3px);
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #9406ccda;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    width: 100%;
    background-color: #f0f4f8;
    padding: 15px 0;
    z-index: 1000;
}



  /* Ícones personalizados */
  .github {
    background-image: url('https://img.icons8.com/ios-filled/50/000000/github.png');
  }
  
  .linkedin {
    background-image: url('https://img.icons8.com/ios-filled/50/000000/linkedin.png');
  }
  
  .instagram {
    background-image: url('https://img.icons8.com/ios-filled/50/000000/instagram-new.png');
  }
  