* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #f2f2f2;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.social-icons a img {
    height: 20px;
    margin-left: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #0071bb;
}

.content {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;
    color: white;
}

.text-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.text-section p {
    font-size: 1em;
    margin-bottom: 20px;
}

.text-section ul {
    list-style-type: none;
    margin-bottom: 20px;
}

.text-section ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px;
}

.text-section ul li:before {
    content: "✔"; /* Icone de check */
    position: absolute;
    left: 0;
    color: white;
}

button {
    background-color: #005d99;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.video-section iframe {
    border: 5px solid #333; /* Moldura do vídeo */
    border-radius: 10px;
}

/* Estilos para a página Institucional */
.institutional-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background: linear-gradient(135deg, #b3c7e6, #e0e7ff);
    color: #333;
    min-height: 70vh;
}

.content-left {
    max-width: 50%;
    padding: 20px;
}

.content-left h1 {
    font-size: 3em;
    color: #2c2c84;
    margin-bottom: 10px;
}

.content-left h1 span {
    font-size: 1.2em;
    color: #ffffff;
    background-color: #2c2c84;
    padding: 0 10px;
}

.content-left p {
    font-size: 1.1em;
    color: #333;
    line-height: 1.6;
}

.content-right {
    max-width: 50%;
    padding: 20px;
    text-align: center;
}

.content-right .chart img {
    width: 100%;
    max-width: 400px;
    border: 2px solid #2c2c84;
    border-radius: 8px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2c2c84;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
